<!-- Page for Main Gameplay -->

{% extends "base.html" %}

{%block title%}Play{%endblock%}

{%block main_content%}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<link rel="stylesheet" href="static/css/hand.css">
	<link rel="stylesheet" href="static/css/play.css">
	
</head>

<body>
	<div class="container-fluid flex-column slots-container" width="100%">
		<div class="row">
			<div class="col-md-2 col-sm-3" style="padding: 0px !important; padding-top: 2rem !important;">
				<h3 style="background-color: #3B2C3B; display: inline; padding: 1rem 2rem; margin-top: 1rem;">Players</h3>
				<ol style="padding-top: 2rem;">
					{%for player in players.player_list %}
						{% if loop.index0 == players.current_player_index %}
							<li style="color: #ffc107;">{{player.username}}</li>
						{% else %}
							<li>{{player.username}}</li>
						{% endif %}
					{% endfor %}
				</ol>
			</div>

			<div class="col-md-8 h-center" style="padding: 0px !important;">
				{% if board.display == 1 %}
					<style>
						.empty-slot .card {
							top: 0;
							left: 0;
							box-shadow: 1px 1px 1px 1px #000007;
						}
						.card:hover {
							border: 0px solid;
						}
					</style>
					<script> console.log("Gotem"); </script>
				{% endif %}
				<div class="card-grid" id="cardgrid">
					{% for slot in board.matrix %}
						<div class="empty-slot">
						{% if slot != None %}
							{% for card in slot %}
								{% if card.status.value == 0 %}
									<div class="card" data-img-url="url({{card.image_path}})" data-status="0" style="background-image: url(static/images/CARD-CLOSED.svg); background-size: cover;">
								{% else %}
									<div class="card" data-img-url="url({{card.image_path}})" data-status="1" style="background-image: url({{card.image_path}}); background-size: cover;">
								{% endif %}
							{% endfor %}
							{% for card in slot %}
								</div>
							{% endfor %}
						{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-2 col-sm-12">
				<h3> Turn Actions </h3>
				{% if not is_user_finished %}
					<button class="btn btn-success" id="done-btn">Done</button>
					<button class="btn btn-warning" onclick="window.location.href='/player-finish';">Finish game</button>
					<button class="btn btn-primary" onclick="window.location.href='/return-chance'">Give chance back</button>
					<button class="btn btn-info" id="show-stack-btn">Show cards stacked</button>
					<button class="btn btn-danger" id="distribute-cards-btn" onclick="window.location.href='/distribute-cards'">Reset and distribute cards</button>
				{% else %}
					<button class="btn btn-danger">Actions Disabled</button>
				{% endif %}
				<h3 id="card-actions-header"> Card Actions </h3>
				<button type="button" class="btn btn-primary" id="flip-card-btn">Flip selected card</button>
				<button type="button" class="btn btn-primary" id="flip-cards-in-hand-btn">Flip all cards in hand</button>
				<button type="button" class="btn btn-primary" id="put-card-in-hand-btn">Take all cards in hand</button>
				<button type="submit" class="btn btn-primary" id="sort-cards-in-hand-btn">Sort cards in hand</button>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col">
			<div class="small-hand-container" width="100%">
                <div class="small-hand" id="player-hand">
                    {% for card in hand.cards %}
						{% if card.status.value == 0 %}
							<div class="card" data-img-url="url({{card.image_path}})" data-status="0" style="background-image: url(static/images/CARD-CLOSED.svg); background-size: cover;">
							</div>
						{% else %}
							<div class="card" data-img-url="url({{card.image_path}})" data-status="1" style="background-image: url({{card.image_path}}); background-size: cover;">
							</div>
						{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
	<script type="text/javascript" src="static/js/init.js"></script>
	<script type="text/javascript" src="static/js/cardActions.js"></script>
	<script type="text/javascript" src="static/js/buttonFunctions.js"></script>
</body>

{% endblock %}